/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner-login {
  background-image: url("/public/assets/login.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff1f0;
}

.user-balance {
  background-image: url("/public/assets/BGSaldo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.popup-ok {
  color: #ef4444;
  font-weight: 600;
}

.popup-cancel {
  color: gray;
  font-weight: 600;
}

.popup-actions {
  flex-direction: column;
  gap: 12px;
}
